<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/public/css/hybrid.css' | relative_url }}">
</head>

<body>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
        <div class="masthead">
            <div class="container">
                <h3 class="masthead-title">
                    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                    <small>{{ site.tagline }}</small>
                </h3>
            </div>
        </div>

        <div class="container content">
            {{ content }}
        </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
        (function(document) {
            var toggle = document.querySelector('.sidebar-toggle');
            var sidebar = document.querySelector('#sidebar');
            var checkbox = document.querySelector('#sidebar-checkbox');

            document.addEventListener('click', function(e) {
                var target = e.target;

                if(!checkbox.checked ||
                    sidebar.contains(target) ||
                    (target === checkbox || target === toggle)) return;

                checkbox.checked = false;
            }, false);
        })(document);
    </script>
</body>
</html>
